<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/md5.js"></script>
</head>
<body>
<div class="container" style="margin-top: 180px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">学生管理系统---登录</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vcode" class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vcode" placeholder="请输入验证码">
                        </div>
                        <div class="col-sm-4">
                            <img id="vcodeImg" src="/account/vcode" alt="">
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="login" type="button" class="btn btn-success">登录</button>
                        <button id="register" type="button" class="btn btn-danger">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    //点击验证码随机切换一张
    $("#vcodeImg").on("click",()=>{
        $("#vcodeImg").attr('src',`/account/vcode?xxx=${Math.random()}`)
    })

    //发送登录请求
    $("#login").on("click",()=>{
        //获取登录的相关参数信息
        const username = $("#username").val()
        const password = $.md5($("#password").val() + '@szhmqd25')    //密码机密加盐
        const vcode = $("#vcode").val()
        $.post({
            url: '/account/login',
            data: {
                username: username,
                password: password,
                vcode: vcode
            },
            success: (data)=>{
                //判断返回的数据的确定登录成功与否
                if (data.status != 0) {
                    alert(data.message)
                    //重新加载验证码
                    $("#vcodeImg").attr('src',`/account/vcode?xxx=${Math.random()}`)
                } else {
                    //登录成功
                    location.href = "/manage/studentList"
                }
            }
        })
    })

    //返回注册页面
    $("#register").on('click',()=>{
        window.location.href = '/account/register'
    })
</script>
</body>
</html>
