<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/md5.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 180px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">学生管理系统---注册</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-danger" onclick="register()">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>

    function register() {
      const username = $("#username").val()
      const password = $.md5($("#password").val() + '@szhmqd25')

        $.post({
            url:'/account/register',
            data: {
                username: username,
                password: password
            },
            success:(data)=>{
                if (data.status !== 0) {
                   alert(data.message)
                   return
               } else {
                   window.location.href = '/account/login'
               }
            }

        })
    }


</script>
</body>
</html>